@import "../globals/all";

*:focus {
  outline: none !important;
}

body {}

.layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
