.date-item {
  $width: 270px;

  min-width: $width;
  max-width: $width;
  color: $cl-black-35;
  text-align: center;
  background-color: $cl-blue-d4;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__row {
    padding: 5px;
  }

  &__date {
    background-color: $cl-black-35;
    color: $cl-white;
  }

  &__name,
  &__specialty {
    background-color: $cl-gray-94;
    color: $cl-white;
  }

  &__name {
    border-bottom: 1px solid $cl-white;
  }

  &__specialty {
    font-style: italic;
  }

  &__mu {
    background-color: $cl-blue-8e;
  }

  &__info {
    background-color: $cl-green-a4;

    span {
      display: block;
    }
  }

  &__schedule {
    $height: 30px;

    background-color: $bg-color;
    text-align: left;

    &-item {
      padding: 0 5px;
      height: $height;
      line-height: $height;
      border-bottom: 1px dashed $cl-black-35;
      cursor: pointer;

      &--busy {
        background-color: $cl-gray-94;
        height: $height * 2;
        font-weight: bold;
        cursor: default;
      }
    }

    &-button {
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: left;
      font-size: 12px;
    }
  }

  &__dropdown {
    padding: 10px;
    font-size: 12px;

    &-header {
      margin-bottom: 20px;
      text-align: center;
    }

    &-item {
      &--create {
        color: $cl-blue-26;
      }

      &--cancel {
        color: $cl-red-db;
      }

      &--disabled {
        color: $cl-gray-94;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $cl-black-35;
      }
    }
  }
}