$bg-color: #E8E8EB;

$cl-white: #fff;

$cl-black: #000;
$cl-black-35: #353535;

$cl-gray-e8: #E8E8EB;
$cl-gray-94: #949494;

$cl-green-24: #246B76;
$cl-green-a4: #A4C589;

$cl-blue-b3: #B3E3EF;
$cl-blue-3f: #3F8E9B;
$cl-blue-d4: #D4E0E2;
$cl-blue-8e: #8EC8D6;
$cl-blue-26: #2694FF;

$cl-red-db: #DB4A4A;
