<div>
    <block-directive
            header="$ctrl.header"
            counter="$ctrl.counting"
            last-child="true">

        <button-field>
            <custom-dropdown-directive
                    icon="glyphicon glyphicon-filter"
                    list="$ctrl.SPECIALISTS_MENU_LIST"></custom-dropdown-directive>
        </button-field>

        <content-field class="specialists">

            <autocomplete-directive
                    icon="glyphicon glyphicon-search"
                    result="$ctrl.search"
                    no-results="$ctrl.searchNoResults"
                    no-results-text="$ctrl.searchNoResultsText"
                    on-clear="$ctrl.clearSearch()">

                <input
                    type="text"
                    class="form-control input-sm"
                    ng-model="$ctrl.search"
                    typeahead-min-length="$ctrl.searchMinLength"
                    typeahead-no-results="$ctrl.searchNoResults"
                    typeahead-on-select="$ctrl.searchOnSelect($item, $model, $label, $event)"
                    typeahead="item as item.name for item in $ctrl.specialistsList | filter:$viewValue"
                    typeahead="item as item.specialty for item in $ctrl.specialistsList | filter:$viewValue"
                    placeholder="{{$ctrl.searchText}}" />
            </autocomplete-directive>

            <div class="btn-group specialists__button-group">
                <label
                        ng-repeat="button in $ctrl.SPECIALISTS_BUTTONS_GROUP"
                        class="btn btn-default btn-sm specialists__button-group-item"
                        ng-model="$ctrl.radioModel"
                        btn-radio="button.type"
                        ng-bind="button.name"></label>
            </div>

            <specialist-list-directive
                    on-change="$ctrl.onChangeInList($newVal)"
                    list="$ctrl.specialistsList"
                    selected="$ctrl.searchSelected"
                    filter-type="$ctrl.radioModel"></specialist-list-directive>
        </content-field>
    </block-directive>
</div>